@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 500;
    color: #EEF0EB;
}

body, html {
    height: 100%;
    
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(40,75,96);
    background: linear-gradient(45deg, rgba(40,75,96,1) 0%, rgba(230,230,221,1) 100%);
}

.card {
    background-color: rgba(7, 16, 22, 0.4);
    border-radius: 20px;
    padding: 20px;
    width: 75vw;
    max-width: 600px;
    position: relative;
    text-align: center;
}

.auth {
    max-width: 400px;
}

h2 {
    margin-bottom: 10px;
}

.error {
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

input {
    color: #071016;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EEF0EB;
}

.short-link-entry {
    display: flex;
    align-items: center;

}

.short-link-entry h3 {
    margin-right: 5px;
    margin-bottom: 10px;
}

.short-link-entry input[type="text"] {
    flex: 1; 
    width: 100%; 
}

.submit-button {
    background-color: #071016;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    background: rgb(40,75,96);
    background: linear-gradient(45deg, rgba(40,75,96,1) 0%, rgba(230,230,221,1) 100%);    
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.nav {
    background-color: rgba(7, 16, 22, 0.5);
    width: 75vw;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 10vh
}

.header-title {
    font-size: 1.5rem;
    margin-left: 0%;
}

.link-list {
    width: 75vw;
    max-width: 600px;
    height: 85vh;
    overflow-y: auto;
}

.display-card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-card {
    cursor: pointer;
    display: flex;
    align-items: center; 
}

.link-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.link-details {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
}

.link-name {
    margin-right: 20px;
}

.link-url {
    color: #e6e6ddbe;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.link-url:hover {
    text-decoration: underline;
    color: #EEF0EB;
}

.symbol {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
    margin-left: 10px;
}

.symbol:hover {
    color: #EEF0EB;
}

.create {
    max-width: 600px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media only screen and (max-width: 800px) {
    .card {
        min-width: 350px;
    }
    .link-list {
        min-width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .link-url {
        visibility: hidden;
    }
}