@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 500;
    color: aliceblue;
}

body, html {
    height: 100%;

}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right top, #7f7fd5, #6f77c4, #606fb2, #5467a1, #495e8f, #496691, #4b6e92, #517593, #678fa5, #82aab7, #a1c4ca, #c2dede);
}

.auth {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 40vw;
    position: relative;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

input {
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.submit-button {
    background-color: #7f7fd585;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    background: linear-gradient(to right top, #7f7fd5, #6f77c4, #606fb2, #5467a1, #495e8f, #496691, #4b6e92, #517593, #678fa5, #82aab7, #a1c4ca, #c2dede);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.header-title {
    font-size: 1.5rem;
    margin-left: 0%;
}

.link-list {
    width: 100%;
    max-width: 600px;
}

.display-card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-card {
    cursor: pointer;
}

.link-name {
    margin-right: 20px;
}

.link-url {
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-url:hover {
    text-decoration: underline;
}

.symbol {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.symbol:hover {
    color: #333;
}
